form {
	label { 
		width: 100%;
		display: block;
	}
	input, textarea {
		width: 100%;
		padding: 10px 7px;
		margin-bottom: 15px;
	}

	legend {
		font-size: 23px;
		margin-bottom: 10px;
		position: relative;

		&:before {
		    color: lightgrey;
		    content: "-";
		    font-size: 45px;
		    left: -14px;
		    position: absolute;
		    top: 0;
		};
	}

	fieldset {
		padding-left: 10px;
		border-left: 3px solid lightgrey;
		position: relative;

		&:before {
		    bottom: -10px;
		    color: lightgrey;
		    content: "-";
		    font-size: 45px;
		    left: -3px;
		    position: absolute;
		}
	}
	.btn {
		margin-left: 25px;
		margin-bottom: 0;
	}	
}
